
<footer class="footer">
	<div class="footer-inner">
		<div class="footer-bottom">
			<span>© 2026 VishWasHere</span>
			<span class="sep">·</span>
			<span>NoD License</span>
		</div>
	</div>
</footer>