
<footer class="footer">
	<div class="footer-inner">
		<div class="footer-bottom">
			<span>© 2026 VishWasHere</span>
			<span class="sep">·</span>
			<span>NoD License</span>
		</div>
	</div>
</footer>

<style>
    .footer{
        border-top:1px solid rgba(0, 0, 0, 0.589);
        margin: 64px;
		padding: 34px;
        text-align: center;
    }
</style>
