<div class="nav-container">
    
    <div class="logo">
        <p>&lt;Vishwas /&gt;</p>
    </div>

    <nav class="nav">
        <a href="">RESEARCH</a>
        <a href="">PAPER</a>
        <a href="">TEAM</a>
        <a href="">GITHUB</a>
    </nav>

</div>

<div class="bottom-line"></div>

<style>

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.nav{
    display: flex;
    gap: 30px;
}

.nav a{
    text-decoration: none;
    color: rgba(10, 10, 10, 0.743);
}

.logo{
   color: rgba(0, 0, 0, 0.932);
   font-weight: 600;
   font-size: 20px;
   text-align: center;
}

.bottom-line{
    width: 100%;
    height: 1px;
    background: rgb(82, 71, 71);
    opacity: 0.4;
}

</style>